/**
 * This file is temporary, delete as needed
 */
body {
  background-color: $color-offwhite;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background-color: $color-white;

  & h1 {
    @include font('heading-lg');
  }
}